<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		
		<key>PoleVaultingZombieAttack1.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{195, 70}, {72, 132}}</string>
			<key>spriteOffset</key>
			<string>{57, -27}</string>
			<key>spriteSize</key>
			<string>{72, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 136}, {72, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack10.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{188, 71}, {78, 132}}</string>
			<key>spriteOffset</key>
			<string>{53, -28}</string>
			<key>spriteSize</key>
			<string>{78, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{168, 0}, {78, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack11.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{179, 74}, {88, 128}}</string>
			<key>spriteOffset</key>
			<string>{49, -29}</string>
			<key>spriteSize</key>
			<string>{88, 128}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 134}, {88, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack12.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{179, 75}, {88, 128}}</string>
			<key>spriteOffset</key>
			<string>{49, -30}</string>
			<key>spriteSize</key>
			<string>{88, 128}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 270}, {88, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack13.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{190, 70}, {76, 132}}</string>
			<key>spriteOffset</key>
			<string>{54, -27}</string>
			<key>spriteSize</key>
			<string>{76, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{248, 0}, {76, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack14.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{193, 70}, {74, 132}}</string>
			<key>spriteOffset</key>
			<string>{56, -27}</string>
			<key>spriteSize</key>
			<string>{74, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{326, 0}, {74, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack2.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{195, 69}, {72, 134}}</string>
			<key>spriteOffset</key>
			<string>{57, -27}</string>
			<key>spriteSize</key>
			<string>{72, 134}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{0, 0}, {72, 134}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack3.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{198, 70}, {68, 132}}</string>
			<key>spriteOffset</key>
			<string>{58, -27}</string>
			<key>spriteSize</key>
			<string>{68, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 398}, {68, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack4.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{192, 73}, {74, 130}}</string>
			<key>spriteOffset</key>
			<string>{55, -29}</string>
			<key>spriteSize</key>
			<string>{74, 130}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{170, 268}, {74, 130}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack5.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{188, 75}, {78, 128}}</string>
			<key>spriteOffset</key>
			<string>{53, -30}</string>
			<key>spriteSize</key>
			<string>{78, 128}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{90, 268}, {78, 128}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack6.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{175, 71}, {92, 132}}</string>
			<key>spriteOffset</key>
			<string>{47, -28}</string>
			<key>spriteSize</key>
			<string>{92, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 0}, {92, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack7.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{176, 70}, {90, 132}}</string>
			<key>spriteOffset</key>
			<string>{47, -27}</string>
			<key>spriteSize</key>
			<string>{90, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{74, 134}, {90, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack8.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{188, 70}, {78, 132}}</string>
			<key>spriteOffset</key>
			<string>{53, -27}</string>
			<key>spriteSize</key>
			<string>{78, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{166, 134}, {78, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
		<key>PoleVaultingZombieAttack9.png</key>
		<dict>
			<key>aliases</key>
			<array>
			
			</array>
			<key>spriteColorRect</key>
			<string>{{192, 70}, {74, 132}}</string>
			<key>spriteOffset</key>
			<string>{55, -27}</string>
			<key>spriteSize</key>
			<string>{74, 132}</string>
			<key>spriteSourceSize</key>
			<string>{348, 218}</string>
			<key>spriteTrimmed</key>
			<true/>
			<key>textureRect</key>
			<string>{{246, 264}, {74, 132}}</string>
			<key>textureRotated</key>
			<false/>
		</dict>
		
	</dict>
	<key>metadata</key>
	<dict>
		<key>version</key>
		<string>1.5.2</string>
		<key>format</key>
		<integer>3</integer>
		<key>size</key>
		<string>{1024, 1024}</string>
		<key>name</key>
		<string>poleVaultingZombie</string>
		<key>premultipliedAlpha</key>
		<false/>
		<key>target</key>
		<dict>
			<key>name</key>
			<string>default</string>
			<key>textureFileName</key>
			<string>poleVaultingZombie_default</string>
			<key>textureFileExtension</key>
			<string>.png</string>
			<key>coordinatesFileName</key>
			<string>poleVaultingZombie_default</string>
			<key>coordinatesFileExtension</key>
			<string>.plist</string>
			<key>premultipliedAlpha</key>
			<false/>
		</dict>
	</dict>
</dict>
</plist>