<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>net01.png</key>
            <dict>
                <key>height</key>
                <integer>73</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>73</integer>
                <key>originalWidth</key>
                <integer>77</integer>
                <key>width</key>
                <integer>77</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>293</integer>
            </dict>
            <key>net02.png</key>
            <dict>
                <key>height</key>
                <integer>124</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>124</integer>
                <key>originalWidth</key>
                <integer>125</integer>
                <key>width</key>
                <integer>125</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>167</integer>
            </dict>
            <key>net03.png</key>
            <dict>
                <key>height</key>
                <integer>140</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>140</integer>
                <key>originalWidth</key>
                <integer>140</integer>
                <key>width</key>
                <integer>140</integer>
                <key>x</key>
                <integer>172</integer>
                <key>y</key>
                <integer>166</integer>
            </dict>
            <key>net04.png</key>
            <dict>
                <key>height</key>
                <integer>155</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>155</integer>
                <key>originalWidth</key>
                <integer>158</integer>
                <key>width</key>
                <integer>158</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>164</integer>
            </dict>
            <key>net05.png</key>
            <dict>
                <key>height</key>
                <integer>160</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>160</integer>
                <key>originalWidth</key>
                <integer>160</integer>
                <key>width</key>
                <integer>160</integer>
                <key>x</key>
                <integer>336</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>net06.png</key>
            <dict>
                <key>height</key>
                <integer>162</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>0</real>
                <key>originalHeight</key>
                <integer>162</integer>
                <key>originalWidth</key>
                <integer>162</integer>
                <key>width</key>
                <integer>162</integer>
                <key>x</key>
                <integer>172</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
            <key>net07.png</key>
            <dict>
                <key>height</key>
                <integer>163</integer>
                <key>offsetX</key>
                <real>0</real>
                <key>offsetY</key>
                <real>1</real>
                <key>originalHeight</key>
                <integer>167</integer>
                <key>originalWidth</key>
                <integer>168</integer>
                <key>width</key>
                <integer>168</integer>
                <key>x</key>
                <integer>2</integer>
                <key>y</key>
                <integer>2</integer>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>0</integer>
            <key>realTextureFileName</key>
            <string>net.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b083f772c611396a580d2009aacf0ac$</string>
            <key>textureFileName</key>
            <string>net.png</string>
        </dict>
        <key>texture</key>
        <dict>
            <key>height</key>
            <integer>512</integer>
            <key>width</key>
            <integer>512</integer>
        </dict>
    </dict>
</plist>
